<div class="w-32 h-32">
    {{#if image}}
    <img id="img-profile" class="rounded-full object-cover w-full h-full" src="{{image}}" alt="image profile">
    {{else}}
    <img id="img-profile" class="rounded-full object-cover w-full h-full" src="/perfil.png" alt="image profile">
    {{/if}}
</div>