<nav>
    <ul class="flex justify-end gap-4 py-5 px-32 border-b-2 border-slate-400">
        <li><a class="hover:underline font-semibold" href="/">Home</a></li>
        <li><a class="hover:underline font-semibold" href="/profile">Profile</a></li>
        <li><a class="hover:underline font-semibold" href="/auth/google">Login</a></li>
    </ul>
</nav>